In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Q1. Pandas version

In [3]:
pd.__version__

'2.2.3'

Getting the data

In [4]:
df= pd.read_csv(r'D:\MLZoomcamp\Homework_1\laptops.csv')

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

Q2. Records count

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

Q3. Laptop brands

In [7]:
len(df['Brand'].unique())

27

Q4. Missing values

In [8]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

Q5. Maximum final price

In [9]:
dell_df = df[df['Brand'] == 'Dell']
dell_df['Final Price'].max()

3936.0

In [10]:
dell_df['Final Price'].sort_values()

633      379.00
1843     420.74
809      448.99
1836     489.00
1839     489.00
         ...
1323    2450.71
1347    2818.09
1346    3012.09
1334    3469.00
1335    3936.00
Name: Final Price, Length: 84, dtype: float64

Q6. Median value of Screen

In [11]:
before_mean = df['Screen'].mean()
before_mean

15.168112244897959

In [12]:
most_frequent_value = df['Screen'].mode()[0]
most_frequent_value

15.6

In [13]:
df['Screen'] = df['Screen'].fillna(most_frequent_value)

In [21]:
after_mean = df['Screen'].mean()
after_mean

15.168912037037037

In [22]:
before_mean-after_mean

-0.0007997921390785478

Q7. Sum of weights

In [15]:
Innjoo_df = df[df['Brand'] == 'Innjoo']

In [16]:
Innjoo_df[['RAM','Storage','Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [17]:
X= Innjoo_df[['RAM','Storage','Screen']].values

In [18]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [28]:
X_transpose = np.transpose(X)
XTX = X_transpose @ X

In [36]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [29]:
inverse_XTX = np.linalg.inv(XTX)

In [30]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [31]:
w = inverse_XTX @ X_transpose @ y

In [33]:
sum_w = np.sum(w)

In [34]:
# Display the result
print("w:", w)
print("Sum of elements of w:", sum_w)

w: [45.58076606  0.42783519 45.29127938]
Sum of elements of w: 91.2998806299555